<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>This is the Help Page if u have any questions </h3>
    </div>
    {{>footer}}

</body>
</html>

